# Different Ways of Creating DataFrame,
* Using CSV
* Using Excel
* From python dictionary
* From list of tuples
* From list of dictionary

In [1]:
import pandas as pd

In [4]:
#CSV

df= pd.read_csv("weather1.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow

In [7]:
# Excel

df = pd.read_excel("weather1.csv.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow

In [11]:
# Python Dictionary

data_res = {
    "day": ['1/1/2017','1/4/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    "temperature": [32,35,28,24,32,31],
    "windspeed": [6,7,2,7,4,2],
    "event":['Rain','Sunny','Snow','Snow','Rain','Sunny']
    
}

df = pd.DataFrame(data_res)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
# List of touples
Data = [
    
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',26,2,'Snow')
    
]

df = pd.DataFrame(Data, columns = ['Day','Temperature','WindSpeed','Event'])
df

        Day  Temperature  WindSpeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           26          2   Snow

In [16]:
Data = [
    
    {'Day': '1/1/2017', 'Temperature': 32, 'Windspeed': 6, 'Event': 'Rain'},
    {'Day': '1/2/2017', 'Temperature': 35, 'Windspeed': 7, 'Event': 'Sunny'},
    {'Day': '1/3/2017', 'Temperature': 26, 'Windspeed': 2, 'Event': 'Snow'}
    
]
df = pd.DataFrame(Data)
df

        Day  Temperature  Windspeed  Event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           26          2   Snow

# Pandas IO(input/output) Documentation
https://pandas.pydata.org/pandas-docs/version/0.16.2/io.html