Link for Pandas Documentation 

https://www.w3schools.com/python/pandas/default.asp

# Data Science
* Data Science and Data Analytics is a process of analyzing large set of data points to get answer on questions related to that dataset.
* Pandas is a python module that make data science easy and effective.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('weather.csv')
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [4]:
# df
rows, columns = df.shape
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [5]:
rows

366

In [6]:
columns

22

In [7]:
df.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,NW,6.0,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,W,4.0,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,NNE,6.0,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,W,30.0,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,ESE,20.0,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [8]:
df.tail(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
361,9.0,30.7,0.0,7.6,12.1,NNW,76.0,SSE,NW,7.0,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,7.1,28.4,0.0,11.6,12.7,N,48.0,NNW,NNW,2.0,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,12.5,19.9,0.0,8.4,5.3,ESE,43.0,ENE,ENE,11.0,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,12.5,26.9,0.0,5.0,7.1,NW,46.0,SSW,WNW,6.0,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,12.3,30.2,0.0,6.0,12.6,NW,78.0,NW,WNW,31.0,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [9]:
df[10:16]

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
10,9.1,25.2,0.0,4.2,11.9,N,30.0,SE,NW,6.0,...,34,1024.4,1021.1,1,2,14.6,24.0,No,0.2,No
11,8.5,27.3,0.2,7.2,12.5,E,41.0,E,NW,2.0,...,35,1023.8,1019.9,0,3,16.8,26.0,No,0.0,No
12,10.1,27.9,0.0,7.2,13.0,WNW,30.0,S,NW,6.0,...,29,1022.0,1017.1,0,1,17.0,27.1,No,0.0,No
13,12.1,30.9,0.0,6.2,12.4,NW,44.0,WNW,W,7.0,...,20,1017.3,1013.1,1,4,19.7,30.7,No,0.0,No
14,10.1,31.2,0.0,8.8,13.1,NW,41.0,S,W,6.0,...,16,1018.2,1013.7,0,1,18.7,30.4,No,0.0,No
15,12.4,32.1,0.0,8.4,11.1,E,46.0,SE,WSW,7.0,...,22,1017.9,1012.8,0,3,19.1,30.7,No,0.0,No

In [10]:
df.MinTemp

0       8.0
1      14.0
2      13.7
3      13.3
4       7.6
       ...
361     9.0
362     7.1
363    12.5
364    12.5
365    12.3
Name: MinTemp, Length: 366, dtype: float64

In [11]:
df['MinTemp'].max()

20.9

In [12]:
df['MaxTemp']

0      24.3
1      26.9
2      23.4
3      15.5
4      16.1
       ...
361    30.7
362    28.4
363    19.9
364    26.9
365    30.2
Name: MaxTemp, Length: 366, dtype: float64

In [13]:
df['MaxTemp'].max()

35.8

In [14]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [15]:
df[['MinTemp', 'MaxTemp','Temp9am',
       'Temp3pm']]

     MinTemp  MaxTemp  Temp9am  Temp3pm
0        8.0     24.3     14.4     23.6
1       14.0     26.9     17.5     25.7
2       13.7     23.4     15.4     20.2
3       13.3     15.5     13.5     14.1
4        7.6     16.1     11.1     15.4
..       ...      ...      ...      ...
361      9.0     30.7     20.4     30.0
362      7.1     28.4     17.2     28.2
363     12.5     19.9     14.5     18.3
364     12.5     26.9     15.8     25.9
365     12.3     30.2     23.8     28.6

[366 rows x 4 columns]

In [16]:
df[['MinTemp', 'MaxTemp','Temp9am',
       'Temp3pm']].max()

MinTemp    20.9
MaxTemp    35.8
Temp9am    24.7
Temp3pm    34.5
dtype: float64

In [17]:
df[[ 'Rainfall', 'Evaporation', 'Sunshine']]

     Rainfall  Evaporation  Sunshine
0         0.0          3.4       6.3
1         3.6          4.4       9.7
2         3.6          5.8       3.3
3        39.8          7.2       9.1
4         2.8          5.6      10.6
..        ...          ...       ...
361       0.0          7.6      12.1
362       0.0         11.6      12.7
363       0.0          8.4       5.3
364       0.0          5.0       7.1
365       0.0          6.0      12.6

[366 rows x 3 columns]

In [18]:
df[[ 'Rainfall', 'Evaporation', 'Sunshine']].max()

Rainfall       39.8
Evaporation    13.8
Sunshine       13.6
dtype: float64

In [19]:
df[[ 'Rainfall', 'Evaporation', 'Sunshine']].min()

Rainfall       0.0
Evaporation    0.2
Sunshine       0.0
dtype: float64

In [20]:
df[[ 'Rainfall', 'Evaporation', 'Sunshine']].mean()

Rainfall       1.428415
Evaporation    4.521858
Sunshine       7.909366
dtype: float64

In [21]:
df[['WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm']]

,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm
0,NW,30.0,SW,NW,6.0,20
1,ENE,39.0,E,W,4.0,17
2,NW,85.0,N,NNE,6.0,6
3,NW,54.0,WNW,W,30.0,24
4,SSE,50.0,SSE,ESE,20.0,28
...,...,...,...,...,...,...
361,NNW,76.0,SSE,NW,7.0,50
362,N,48.0,NNW,NNW,2.0,19
363,ESE,43.0,ENE,ENE,11.0,9
364,NW,46.0,SSW,WNW,6.0,28
365,NW,78.0,NW,WNW,31.0,35

In [22]:
df[['WindGustSpeed','WindSpeed9am', 'WindSpeed3pm']].max()

WindGustSpeed    98.0
WindSpeed9am     41.0
WindSpeed3pm     52.0
dtype: float64

In [23]:
df[['WindGustSpeed','WindSpeed9am', 'WindSpeed3pm']].min()

WindGustSpeed    13.0
WindSpeed9am      0.0
WindSpeed3pm      0.0
dtype: float64

In [24]:
df[['WindGustDir','WindDir9am','WindDir3pm']]

    WindGustDir WindDir9am WindDir3pm
0            NW         SW         NW
1           ENE          E          W
2            NW          N        NNE
3            NW        WNW          W
4           SSE        SSE        ESE
..          ...        ...        ...
361         NNW        SSE         NW
362           N        NNW        NNW
363         ESE        ENE        ENE
364          NW        SSW        WNW
365          NW         NW        WNW

[366 rows x 3 columns]

In [25]:
# df[['WindGustDir','WindDir9am','WindDir3pm']]
df.set_index('WindGustDir',inplace=True)

In [26]:
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
WindGustDir,,,,,,,,,,,,,,,,,,,,,
NW,8.0,24.3,0.0,3.4,6.3,30.0,SW,NW,6.0,20,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
ENE,14.0,26.9,3.6,4.4,9.7,39.0,E,W,4.0,17,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
NW,13.7,23.4,3.6,5.8,3.3,85.0,N,NNE,6.0,6,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
NW,13.3,15.5,39.8,7.2,9.1,54.0,WNW,W,30.0,24,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
SSE,7.6,16.1,2.8,5.6,10.6,50.0,SSE,ESE,20.0,28,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NNW,9.0,30.7,0.0,7.6,12.1,76.0,SSE,NW,7.0,50,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
N,7.1,28.4,0.0,11.6,12.7,48.0,NNW,NNW,2.0,19,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
ESE,12.5,19.9,0.0,8.4,5.3,43.0,ENE,ENE,11.0,9,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
NW,12.5,26.9,0.0,5.0,7.1,46.0,SSW,WNW,6.0,28,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
NW,12.3,30.2,0.0,6.0,12.6,78.0,NW,WNW,31.0,35,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [28]:
df.reset_index(inplace=True)
df

,index,WindGustDir,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,0,NW,8.0,24.3,0.0,3.4,6.3,30.0,SW,NW,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,1,ENE,14.0,26.9,3.6,4.4,9.7,39.0,E,W,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,2,NW,13.7,23.4,3.6,5.8,3.3,85.0,N,NNE,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,3,NW,13.3,15.5,39.8,7.2,9.1,54.0,WNW,W,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,4,SSE,7.6,16.1,2.8,5.6,10.6,50.0,SSE,ESE,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,361,NNW,9.0,30.7,0.0,7.6,12.1,76.0,SSE,NW,...,15,1016.1,1010.8,1,3,20.4,30.0,No,0.0,No
362,362,N,7.1,28.4,0.0,11.6,12.7,48.0,NNW,NNW,...,22,1020.0,1016.9,0,1,17.2,28.2,No,0.0,No
363,363,ESE,12.5,19.9,0.0,8.4,5.3,43.0,ENE,ENE,...,47,1024.0,1022.8,3,2,14.5,18.3,No,0.0,No
364,364,NW,12.5,26.9,0.0,5.0,7.1,46.0,SSW,WNW,...,39,1021.0,1016.2,6,7,15.8,25.9,No,0.0,No
365,365,NW,12.3,30.2,0.0,6.0,12.6,78.0,NW,WNW,...,13,1009.6,1009.2,1,1,23.8,28.6,No,0.0,No

In [30]:
df.describe()

,index,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,366.000000,366.000000,366.000000,366.000000,366.000000,363.000000,364.000000,359.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000,366.000000
mean,182.500000,7.265574,20.550273,1.428415,4.521858,7.909366,39.840659,9.651811,17.986339,72.035519,44.519126,1019.709016,1016.810383,3.890710,4.024590,12.358470,19.230874,1.428415
std,105.799338,6.025800,6.690516,4.225800,2.669383,3.481517,13.059807,7.951929,8.856997,13.137058,16.850947,6.686212,6.469422,2.956131,2.666268,5.630832,6.640346,4.225800
min,0.000000,-5.300000,7.600000,0.000000,0.200000,0.000000,13.000000,0.000000,0.000000,36.000000,13.000000,996.500000,996.800000,0.000000,0.000000,0.100000,5.100000,0.000000
25%,91.250000,2.300000,15.025000,0.000000,2.200000,5.950000,31.000000,6.000000,11.000000,64.000000,32.250000,1015.350000,1012.800000,1.000000,1.000000,7.625000,14.150000,0.000000
50%,182.500000,7.450000,19.650000,0.000000,4.200000,8.600000,39.000000,7.000000,17.000000,72.000000,43.000000,1020.150000,1017.400000,3.500000,4.000000,12.550000,18.550000,0.000000
75%,273.750000,12.500000,25.500000,0.200000,6.400000,10.500000,46.000000,13.000000,24.000000,81.000000,55.000000,1024.475000,1021.475000,7.000000,7.000000,17.000000,24.000000,0.200000
max,365.000000,20.900000,35.800000,39.800000,13.800000,13.600000,98.000000,41.000000,52.000000,99.000000,96.000000,1035.700000,1033.200000,8.000000,8.000000,24.700000,34.500000,39.800000

In [32]:
df[df.MinTemp>=20]

,index,WindGustDir,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
72,72,SW,20.9,35.7,0.0,13.8,6.9,50.0,E,WNW,...,28,1007.6,1003.0,7,2,23.6,34.0,No,2.0,Yes

In [36]:
df[df.MaxTemp>=35]

,index,WindGustDir,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
59,59,E,15.4,35.0,0.0,9.6,13.0,39.0,SSW,ESE,...,18,1017.4,1015.0,1,1,23.4,34.3,No,0.0,No
62,62,ESE,14.3,35.0,0.0,7.6,10.5,41.0,ESE,WSW,...,14,1012.6,1008.7,0,1,23.0,33.6,No,0.0,No
71,71,SSE,17.5,35.8,0.0,9.4,13.3,57.0,NNW,NW,...,24,1011.8,1006.5,0,1,24.7,34.5,No,0.0,No
72,72,SW,20.9,35.7,0.0,13.8,6.9,50.0,E,WNW,...,28,1007.6,1003.0,7,2,23.6,34.0,No,2.0,Yes
135,135,SE,13.8,35.2,0.0,6.4,11.2,48.0,SE,ESE,...,15,1022.5,1019.3,5,2,21.4,34.1,No,0.0,No

In [ ]:
df[df.MaxTemp>=35]