# Topics,
* 1) Creating dataframe
* 2) Dealing with rowa and columns
* 3) Operation: min, max, std, describe
* 4) Conditional selection
* 5) set_index

Link for Pandas Documentation 

https://www.w3schools.com/python/pandas/default.asp

In [1]:
import pandas as pd

# Dataframe

* Dataframe is a main object in Pandas. It is used to represent data with rows and columns(Tabular or excel spreadsheet like data)

In [2]:
df = pd.read_csv("data1.csv")

df

  index       name  score  attempts qualify
0     a  Anastasia   12.5         1     yes
1     b       Dima    9.0         3      no
2     c  Katherine   16.5         2     yes
3     d      James    NaN         3      no
4     e      Emily    9.0         2      no
5     f    Michael   20.0         3     yes
6     g    Matthew   14.5         1     yes
7     h      Laura    NaN         1      no
8     i      Kevin    8.0         2      no
9     j      Jonas   19.0         1     yes

In [3]:
data_res = {
    "day": ['1/1/2017','1/4/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    "temperature": [32,35,28,24,32,31],
    "windspeed": [6,7,2,7,4,2],
    "event":['Rain','Sunny','Snow','Snow','Rain','Sunny']
    
}
df = pd.DataFrame(data_res)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
rows, columns = df.shape
print('Rows: ',rows)
print('\n\nColumns: ',columns)

Rows:  6


Columns:  4

In [6]:
df.head()  # if we didn't want to print whole data we want to execute few lines than we use head() it will gives start's five rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [7]:
df.head(2)  # it gives two lines

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny

In [8]:
df.tail()   # it will give last five rows

        day  temperature  windspeed  event
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df.tail(1)  # it gives last row only, if we pass parameter on tail or head function than it gives that number of row

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [10]:
# indexing and slicing just like list in python
df[2:5]  # last number should be discarded i.e 5 here

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [11]:
df[:] # if we want to print everything

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
# OR
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
df.columns  # it will print the number of columns we have in df dataset

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.day # it print the day column

0    1/1/2017
1    1/4/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [15]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [16]:
# OR
df['event'] #they both are same

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [17]:
type(df['event'])  # the column of dataset is basically the type of pandas series

pandas.core.series.Series

In [18]:
df[['event','day']]  # if we want to print few columns value

   event       day
0   Rain  1/1/2017
1  Sunny  1/4/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [19]:
df[['day', 'temperature']]

        day  temperature
0  1/1/2017           32
1  1/4/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

# Operations on Dataset

In [20]:
df['temperature'].max()  # maximum temp

35

In [21]:
df['temperature'].min()  # min temp

24

In [22]:
df['temperature'].mean() # avg temp

30.333333333333332

In [23]:
df['temperature'].std()  # standard deviation

3.8297084310253524

In [24]:
df.describe()   # it print the statistics data present in our dataset and gives perencentiles data also

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [25]:
df[df.temperature>=32] # it print the temp value which is greater than 32

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [26]:
df[df.temperature == df.temperature.max() ]  # it gives the max temp value it just like sql query condition

        day  temperature  windspeed  event
1  1/4/2017           35          7  Sunny

In [27]:
# Or
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/4/2017           35          7  Sunny

In [28]:
# if we didn't want to print entire row or we wanna print sinlge value than we do that
df['day'][df.temperature == df['temperature'].max()]

1    1/4/2017
Name: day, dtype: object

In [29]:
df[['day','temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/4/2017           35

In [30]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [31]:
df.index # index mean 0,1,2,3,4,5 here

RangeIndex(start=0, stop=6, step=1)

In [32]:
# now we replace index column with day
df.set_index('day')  # but it doesn't modify the original one

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/4/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [33]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [34]:
 # so to modify the original data 
df.set_index('day', inplace=True)

In [35]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/4/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [36]:
df.loc['1/4/2017'] # then this will give the data at date 1/4/2017
# and this is only possible when we make day column index

          temperature  windspeed  event
day
1/4/2017           35          7  Sunny
1/4/2017           24          7   Snow

In [37]:
# reset our data set 
df.reset_index(inplace = True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/4/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [38]:
df.set_index('event',inplace= True)
df  # our index is not unique here

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/4/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [39]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7